<div class="welcome__background">
    <section class="welcome__dialog" c6-vertical-center>
        <header>
            <h2>Welcome to the Screenjackinator</h2>
        </header>
        <article>
            <p>Greetings! Screenjackintor allows you to easily create and share your own hilarious Screenjack video in no time!</p>
            <p>Would you like a tour?</p>
        </article>
        <form>
            <button ng-click="ExperienceCtrl.startWizard()">Show Me the Ropes!</button>
            <button ng-click="ExperienceCtrl.skipWizard()">No Thanks, I'm a Pro</button>
        </form>
    </section>
</div>
