<div class="annotations__style">
    <div class="annotations__text">
        <span ng-style="{visibility: (editing ? 'hidden' : 'visible')}">{{annotation.text}}</span>
        <form class="annotations__form" ng-show="editing">
            <input type="text" ng-model="annotation.text">
            <button name="save" ng-click="$event.stopPropagation(); editing = false;">Save</button>
            <button name="cancel" ng-click="$event.stopPropagation(); discardChanges();">X</button>
        </form>
        <div class="annotations__frame"></div>
        <div class="annotations__corner annotations__corner--right"></div>
        <div class="annotations__corner annotations__corner--left"></div>
        <div class="annotations__tail"></div>
    </div>
</div>
