<div class="tts__box">
<!-- add .tts__box--preview to div when listening/previewing the mp3 -->
	<span class="tts__text tk--copy" ng-style="{display: (editing ? 'none' : 'inline')}">
		<img class="tts__icon" src="assets/img/tts__edit-icon.png">
		{{annotation.text}}
	</span>

	<form ng-show="editing">
	    <input placeholder="Type your dialogue here." type="text" ng-model="annotation.text" class="tts__input tk--copy" onclick="this.select();">
	    <small ng-show="annotation.text.length > annotation.maxChars" class="tts__popup tts__popup--warning">
	    	Careful, long dialogue can break <span class="underline"># second(s)</span> time limit.
	    	<!-- Error: Dialogue is over the limit by <span class="underline"># seconds</span>, please shorten it. -->
	    </small>

	    <button name="listen" ng-click="$event.stopPropagation(); listen();" ng-disabled="!isListenable" ng-class="{'tts__preview-btn--loading': fetching, 'tts__preview-btn--playing': listening, 'tts__preview-btn--disabled': !annotation.text}" class="tts__preview-btn">
	    	<span class="ir">Preview</span>
	    	<div class="tts__preview-spinner" ng-show="fetching">&nbsp;</div>
	    </button>
		
	    	
	    <div class="tts__btn-group">
	    	<button name="cancel" ng-click="$event.stopPropagation(); discardChanges();" class="tts__btn tts__cancel tk--hdr">Cancel</button>
	    	<button name="save" ng-disabled="!valid" ng-click="$event.stopPropagation(); saveChanges();" ng-class="{'tts__save--disabled': !valid}" class="tts__btn tts__save tk--hdr">Save</button>
	    	<!-- when save is successful, .tts__save--success needs to be added to this element and the text should change from 'Save' to 'Saved -->'
	    </div>
	</form>
</div>

<button ng-hide="disablenext" class="tts__arrow tts__next-arrow" ng-click="$event.stopPropagation(); next();" title="Next"><span class="ir">Next</span></button>
<button ng-hide="disableprev" class="tts__arrow tts__prev-arrow" ng-click="$event.stopPropagation(); prev();" title="Go Back"><span class="ir">Go Back</span></button>

