<div class="tts__box">
	<span class="tts__text" ng-style="{display: (editing ? 'none' : 'inline')}">&ldquo;{{annotation.text}}&rdquo;</span>
	<form ng-show="editing" ng-class="{'line__invalid': invalid}">
	    <input placeholder="Type your dialogue here." type="text" ng-model="annotation.text" class="tts__input">
	    <small class="tts__remaining-charas">{{annotation.maxChars-annotation.text.length}} Characters Remaining</small>
	    <button name="listen" ng-click="$event.stopPropagation(); listen();" ng-disabled="fetching" class="tts__listen-btn"><span class="ir">Listen</span></button>
	    	<div class="tts__listen-popup tts__listen-popup--hidden">
	    		<span class="tts__listen-timestamp">0:04</span>
	    		<img class="tts__listen-soundwave" src="assets/img/placeholder-soundwave.png">
	    		<div class="tts__listen-arrow">&nbsp;</div>
	    	</div>
	    <div class="line__loading" ng-show="fetching">Loading...</div>
	    <button name="save" ng-click="$event.stopPropagation(); saveChanges();" class="tts__save-btn">Save</button>
	    <button name="cancel" ng-click="$event.stopPropagation(); discardChanges();" class="tts__cancel-btn"><span class="ir">Cancel</span></button>
	</form>
</div>
<button ng-hide="disablenext" class="tts__arrow tts__next-arrow" ng-click="$event.stopPropagation(); next();" title="Next"><span class="ir">Next</span></button>
<button ng-hide="disableprev" class="tts__arrow tts__prev-arrow" ng-click="$event.stopPropagation(); prev();" title="Go Back"><span class="ir">Go Back</span></button>
