/* overall css stylesheet */
html { height: 100%; width: 100%;}

.video__player--inactive {
    visibility: hidden;
}

.video__player--active {
    width: 100%;
}

.video__player--active video {
    width: 100%;
}

.experience__group {
    position: absolute; top: 0; bottom: 0; left: 0; right: 0;
}

.video__group {
    position: absolute; left: 20em; right: 0;
    display: inline-block;
}

.video__annotations {
    position: absolute; top: 0; bottom: 40px; left: 0; right: 0;
    list-style-type: none;
    margin: 0; padding: 0;
}

.annotation__group {
    position: absolute;
    cursor: pointer;
}

.annotations__form {
    position: absolute; z-index: 100; top: 0.8em;
}

.controls__container {
    height: 40px; position: relative;
}
