/*  ==========================================================================
    app bar styles
    ========================================================================== */
    .appbar__stats:hover {
    	background: url(../img/stats-btn.png) no-repeat center center;
    }

    .appbar__settings:hover {
    	background: url(../img/settings-btn.png) no-repeat center center;
    }

    .appbar__preview-btn {
    	transition: background 0.1s;
    }
	    .appbar__preview-btn:hover {
	    	background-color: #c8c6c4; 
	    }
	    /*.appbar__preview-btn:active {
	    	background-color: #959391;
	    }*/

	.appbar__savepub-btn {
    	transition: background 0.1s;
    }
	    .appbar__savepub-btn:hover {
	    	background-color: #b2d96d;
	    }
	    /*.appbar__savepub-btn:active {
	    	background-color: #7ea539;
	    }*/

/*  ==========================================================================
    annotation styles
    ========================================================================== */
	.tts__save-btn {
		transition: background 0.1s;
	}
		.tts__save-btn:hover {
			background-color: #c1e359;
		}
	.tts__listen-btn {
		transition: background 0.1s;
	}
		.tts__listen-btn:hover {
			background-color: #8cc436;
		}

/*  ==========================================================================
    controls styles
    ========================================================================== */

    /* ---- play/pause styles ---- */
    .controls__btnPlayPause:hover {
    	background: #b5e266;
    }

	/* ---- seek styles ---- */
	.controls__btnReturn-icon:hover {
		opacity: 1;
	}

	.controls__btnFullscreen-icon:hover {
		opacity: 1;
	}


	/* ---- volume styles ---- */
	.volume__btn:hover {
		background: #313437;
	}

		.volume__btnVolume-icon:hover {
			opacity: 1;
		}

	