/*  ==========================================================================
    experience styles
    ========================================================================== */
    body {
        margin:0; background-color: #000; font-family: 'MuseoSans', Arial, Helvetica, sans-serif;
    }
    @font-face {
        font-family: 'MuseoSans';
        src: url('museosans-300-webfont.eot');
        src: url('museosans-300-webfont.eot?#iefix') format('embedded-opentype'),
             url('museosans-300-webfont.woff') format('woff'),
             url('museosans-300-webfont.svg#museo_sans300') format('svg'),
             url('museosans-300-webfont.ttf') format('truetype');
        font-weight: 300;
        font-style: normal;
    }
    @font-face {
        font-family: 'MuseoSans';
        src: url('museosans-100-webfont.eot');
        src: url('museosans-100-webfont.eot?#iefix') format('embedded-opentype'),
             url('museosans-100-webfont.woff') format('woff'),
             url('museosans-100-webfont.svg#museo_sans100') format('svg'),
             url('museosans-100-webfont.ttf') format('truetype');
        font-weight: 100;
        font-style: normal;
    }
    @font-face {
        font-family: 'MuseoSans';
        src: url('museosans-100italic-webfont.eot');
        src: url('museosans-100italic-webfont.eot?#iefix') format('embedded-opentype'),
             url('museosans-100italic-webfont.woff') format('woff'),
             url('museosans-100italic-webfont.svg#museo_sans100_italic') format('svg'),
             url('museosans-100italic-webfont.ttf') format('truetype');
        font-weight: 100;
        font-style: italic;
    }
    a {
        text-decoration: none;
    }
    ::-moz-selection {
        background: #e4b3ff; text-shadow: none; color:#000;
    }
    ::selection {
        background: #e4b3ff; text-shadow: none; color:#000;
    }
    .experience__group {
        position: absolute; top: 0; bottom: 0; left: 0; right: 0; font-size: 1em;
    }
    .ir {
        background-color: transparent;
        border: 0; width:0; height:0;
        overflow: hidden; display: block; position: absolute;
    }

/*  ==========================================================================
    copy classes
    ========================================================================== */
    .tk--hdr {
        font-family: 'MuseoSans', Arial, Helvetica, sans-serif; font-weight: 300;
    }
        .tk--copy {
            font-family: 'MuseoSans', Arial, Helvetica, sans-serif; font-weight: 100;
        }
    .underline {
        text-decoration: underline;
    }

/*  ==========================================================================
    app bar styles
    ========================================================================== */
    .appbar__group {
        position: absolute; top: 0; width: 100%; height: 3.375em; z-index: 2; background-color: #f1efed;
    }
        .appbar__title {
            position: absolute; width: 23.57143em; height: 2.143em; left: 1em; top: 0.714em;
            font-size: 0.875em; padding-left: 2.42857em;
            background: url(../img/title_edit-icon--default.png) #e5e3e1 no-repeat 0.714em center;
            color: #72706f; border: 1px dashed #828180;  
        }
            .appbar__title:focus {
                background: url(../img/title_edit-icon--focus.png) #d3dfc3 no-repeat 0.714em center;
                color: #4e7712; border: 1px dashed #568e20;
            }
            .appbar__save-title-btn {
                display: none;
            }
                .appbar__save-title-btn--focus {
                    position: absolute; width: 3.11em; height: 2.667em; top: 1.667em; left: 38.44em;
                    display: block; font-size: 0.5625em; padding: 0; cursor: pointer;
                    background-color: #74ad21; color: #fff; border: 0; border-radius: 3px; 
                    text-transform: uppercase; letter-spacing: 0.05em; 
                }     
        .appbar__button {
            position: absolute; top: 0.833em; padding: 0.75em 0; cursor: pointer;
            font-size: 0.75em; color: #fff; border: 0; border-radius: 3px;
            text-transform: uppercase; letter-spacing: 0.05em;
        }
            .appbar__preview-btn {
                right: 12.5em; width: 8.33em; background-color: #afaca9;
            }
            .appbar__savepub-btn {
                right: 0.875em; width: 10.833em; background-color: #9fcf38;
            } 

/*  ==========================================================================
    stage styles
    ========================================================================== */
    .stage__group {
        position: absolute; top: 3.375em; bottom: 0; width: 100%;
    }
    .video__group {
        position: absolute; width: 100%; top: 0; bottom: 5.875em;
    }
        .video__stage {
            position: absolute; top: 50%; left: 50%;
        }
        .video__player {
            width: 100%;
        }
        .video__annotations {
            position: absolute; height: 100%; width: 100%; top: 0;
            margin: 0; padding: 0; list-style-type: none;
        }

/*  ==========================================================================
    annotation styles
    ========================================================================== */
    .tts__group {
        position: absolute; bottom: 0; width: 100%; text-align: center; font-size: 1em;
    }
        .tts__arrow {
            position: absolute; height: 4.125em; width: 5.5em; bottom: 2.375em;
            font-size: 1em; padding: 0; border: 0; border-radius: 3px; cursor: pointer;
        }
            .tts__next-arrow {
                left: 89%; background: url(../img/arrow__next-icon.png) #f9f7f5 no-repeat center center; 
            }
            .tts__prev-arrow {
                right: 89%; background: url(../img/arrow__prev-icon.png) #f9f7f5 no-repeat center center;
            }

        .tts__box {
            position: absolute; width: 72%; left: 14%; bottom: 1em; 
            font-size: 1.5em; padding: 1.25em 0; background-color: rgba(19, 97, 8, 0.53);
            border: 1px dashed rgba(99, 148, 28, 0.8); border-radius: 3px; 
        }
            /* play mode */
            .tts__text {
                color: #dff0c1; cursor: pointer;
            }
            .tts__icon {
                margin: 0 0.2em -0.0833em -1.41667em;
            }

            /* edit mode */
            .tts__input {
                width: 100%; font-size: 1em; font-weight: 100; text-align: center;
                color: #fff; background: none; border: 0;
            }

            .tts__preview-btn {
                position: absolute; height: 3.667em; width: 4.33em; right: 0.778em; top: 50%; margin-top: -1.8335em;
                font-size: 0.75em; border: 0; border-radius: 3px; cursor: pointer;
                background: url(../img/listen__preview-icon.png) #599e0e no-repeat center center;  
            }
                .tts__preview-btn--playing {
                    background: url(../img/listen__stop-icon.png) #599e0e no-repeat center center;
                }
                .tts__preview-btn--disabled {
                    background: url(../img/listen__disabled-icon.png) rgba(113, 169, 26, 0.09) no-repeat center center 
                }
                .tts__preview-btn--loading {
                    background: rgba(113, 169, 26, 0.23); cursor: default;
                }
                    /* spinner animation */
                    .tts__preview-spinner {
                        height: 1.4444em; width: 1.4444em; margin-left: 0.8889em;
                        background: url(../img/tts__spinner.png) no-repeat center center;
                        animation:spin 1s infinite linear; -webkit-animation:spin 1s infinite linear;
                    }
                        @keyframes spin {
                            from {transform:rotate(0deg);}
                            to {transform:rotate(360deg);}
                        }
                        @-webkit-keyframes spin {
                            from {-webkit-transform:rotate(0deg);}
                            to {-webkit-transform:rotate(360deg);}
                        }

            .tts__btn-group {
                position: absolute; bottom: -2.41667em; left: 50%; margin-left: -6.8334em; 
            }
                .tts__btn {
                    height: 3.2857em; font-size: 0.5833em; padding: 0; margin: 0 0.2857em; 
                    border: 0; border-radius: 3px; cursor: pointer;
                    color: #fff; text-transform: uppercase; letter-spacing: 0.05em;
                }
                    .tts__save {
                        width: 11.571em;  background-color: #94cb1f;
                    }
                        .tts__save--success {
                            background: url(../img/tts__save-check.png) #4e8711 no-repeat 25% 50%; font-style: italic;
                        }
                        .tts__save--disabled {
                            color: #739d51; background-color: #4e8711;
                        }
                    .tts__cancel {
                        width: 9.429em; background-color: #afaca9;
                    }

            .tts__popup {
                position: absolute; top: -3.8571em; left: 50%; 
                font-size: 0.5833em; line-height: 1em; border-radius: 3px;
            }
                .tts__popup:after {
                    position: absolute; top: 100%; left: 50%; height: 0; width: 0;
                    border: solid transparent; border-width: 6px; margin-left: -6px;
                    content: " "; pointer-events: none;
                    border-color: rgba(249, 247, 245, 0); border-top-color: #F9F7F5;
                }
                .tts__popup--error {
                    color: #cc2a0a; background: url(../img/msg__error-icon.png) #F9F7F5 no-repeat scroll 1.142em 50%;
                    margin-left: -15.0714em; padding: 0.857em 1.2857em 0.857em 2.857em;
                }
                .tts__popup--warning {
                    color: #757575; background: url(../img/msg__warning-icon.png) #F9F7F5 no-repeat scroll 1.142em 50%;
                    margin-left: -14.357em; padding: 0.857em 1.2857em 0.857em 3.2857em;
                }

/*  ==========================================================================
    controls styles (overwrites styles in c6ui/src/controls)
    ========================================================================== */
    .controls__group {
        position: absolute; bottom: 0; width: 100%; height: 5.875em; z-index: 2; background-color: #f9f7f5; font-size: 1em;
    }
        /* ---- play/pause styles ---- */
        .controls__btnPlayPause {
            width: 7.625em; height: 3em; left: 50%; top: 2.375em; margin-left: -3.8125em;
            background: #94cb1f; box-shadow: none;
        }
            .controls__btnPlay-icon {
                background: url(../img/icon_play.svg) no-repeat center center; background-size: 10%; opacity: 1;
            }

            .controls__btnPause-icon {
                background: url(../img/icon_pause.svg) no-repeat center center; background-size: 14%; opacity: 1;
            }

    /* ---- seek styles ---- */
    .controls__seek {
        width: 100%; margin: 0 !important;
        background: none; border: 0; border-radius: 0;
        box-shadow: none;
    }
        .controls__slider {
            position: absolute; margin: 0 !important; top: 0.375em; left: 0.375em; right: 0.375em; height: 1.125em; cursor: pointer;
            background: #bab9b7; border: none; border-radius: 3px;
        }
        .controls__slider-active {
            height: 1.125em; background: #a8cc3a; border-radius: 3px;
        }
            .controls__slider-shadow {
                display: none;
            }
            .controls__slider-buffer {
                display: none;
            }

        .controls__playhead {
            height: 1.25em; width: 0.3125em; margin: -0.0625em 0 0 -0.1875em; 
            background: #676664; box-shadow: none; border-radius: 3px;
        }

    /* ---- volume styles ---- */
    .volume__btn {
        position: absolute; font-size: 1em; right: 8em; top: 3.5em; height: 0.8125em; width: 1em;
        background: none; border-radius: 0; box-shadow: none; 
    }

        .volume__btnVolume-icon {
            background: url(../img/volume__icon.png) no-repeat center center; background-size: auto; opacity: 1;
        }

            .volume__btnVolume-high {
                background: url(../img/volume__icon--high.png) no-repeat center center; background-size: auto; opacity: 1;
            }

            .volume__btnVolume-med {
                background: url(../img/volume__icon--high.png) no-repeat center center; background-size: auto; opacity: 1;
            }

            .volume__btnVolume-low {
                background: url(../img/volume__icon--high.png) no-repeat center center; background-size: auto; opacity: 1;
            }

            .volume__btnVolume-mute {
                display: none;
            }

    .volume__box {
        position: absolute; right: -7.25em; bottom: 0.0625em; width: 6.75em; height: 0.625em; 
        background: none; border-radius: 0; box-shadow: none;
    }
        .volume__box:after {
            display:none;
        }

        .volume__slider {
            top: 0; left: 0; height: 100%; width: 100%; 
            background: #bab9b7; border: none; border-radius: 3px;
        }
            .volume__slider-active {
                /*width: 4px;*/ height: 0.625em; bottom: 0; left: 0; background: #a8cc3a; 
                border-radius: 3px 0px 0px 3px;
            }
        .volume__playhead {
            width: 0.0625em; height: 0.625em; margin: 0; bottom: 0; left: 0;
            background: #9c9b98; box-shadow: none; border-radius: 0;
        }

    /* ---- bubbles ---- */
    .controls__scene {
        height: 0.625em; top: 0; margin: 0.25em 0 0 0;
    }
        .controls__scene-btn { /* width should be dynamic!!! */
            height: 100%; width: 50px; margin: 0; border-radius: 2px; background: #000; opacity: 0.25;
        }
        .controls__caption-bottom, .controls__caption-top {
            display: none;
        }

    /* ---- timestamps (not in original c6ui) ---- */
    .controls__timestamps {
        position: absolute; font-size: 0.625em; bottom: 5.875em; left: 0.375em; right: 0.375em; z-index: 3; height: 8px;
        background: url(../img/timeline__markers-tile.png) repeat-x top center;
    }
        .controls__start-time {
            position: absolute; color: #64821b; left: 0; line-height: 1; background-color: #f9f7f5; padding-right: 0.5em;
        }
        .controls__end-time {
            position: absolute; color: #6d6d6d; right: 0; line-height: 1; background-color: #f9f7f5; padding-left: 0.5em;
        }

/*  ==========================================================================
    alert styles
    ========================================================================== */
    .alert__group {
        position: absolute; height: 100%; width: 100%; z-index: 9001;
        background-color: rgba(0, 0, 0, 0.52); 
    }
        .alert__box {
            margin: 0 auto; height: 7.25em; width: 7.25em; border-radius: 3px; text-align: center;
            background-color: rgba(153, 204, 73, 0.7); 
        }
            .alert__text {
                font-size: 0.875em; color: #fff; text-transform: uppercase;
            }
            .alert__img {
                margin: 22px 34px 0 34px;
            }