/*  ==========================================================================
    experience styles
    ========================================================================== */
    body {
        margin:0; background-color: #000; font-family: 'MuseoSans', Arial, Helvetica, sans-serif;
    }
    a {
        text-decoration: none;
    }
    .ir {
        background-color: transparent;
        border: 0; width:0; height:0;
        overflow: hidden; display: block; position: absolute;
    }
    ::-moz-selection {
        background: #b3ff3e; text-shadow: none; color:#000;
    }
    ::selection {
        background: #b3ff3e; text-shadow: none; color:#000;
    }

    @font-face {
        font-family: 'MuseoSans';
        src: url('museosans-300-webfont.eot');
        src: url('museosans-300-webfont.eot?#iefix') format('embedded-opentype'),
             url('museosans-300-webfont.woff') format('woff'),
             url('museosans-300-webfont.svg#museo_sans300') format('svg'),
             url('museosans-300-webfont.ttf') format('truetype');
        font-weight: 300;
        font-style: normal;
    }
    @font-face {
        font-family: 'MuseoSans';
        src: url('museosans-100-webfont.eot');
        src: url('museosans-100-webfont.eot?#iefix') format('embedded-opentype'),
             url('museosans-100-webfont.woff') format('woff'),
             url('museosans-100-webfont.svg#museo_sans100') format('svg'),
             url('museosans-100-webfont.ttf') format('truetype');
        font-weight: 100;
        font-style: normal;
    }
    @font-face {
        font-family: 'MuseoSans';
        src: url('museosans-100italic-webfont.eot');
        src: url('museosans-100italic-webfont.eot?#iefix') format('embedded-opentype'),
             url('museosans-100italic-webfont.woff') format('woff'),
             url('museosans-100italic-webfont.svg#museo_sans100_italic') format('svg'),
             url('museosans-100italic-webfont.ttf') format('truetype');
        font-weight: 100;
        font-style: italic;
    }

    .experience__group {
        position: absolute; top: 0; bottom: 0; left: 0; right: 0;
    }

/*  ==========================================================================
    app bar styles
    ========================================================================== */
    .appbar__group {
        position: absolute; top: 0; width: 100%; height: 3.375em; z-index: 2; background-color: #f1efed;
    }
        .appbar__title {
            position: absolute; font-size: 0.875em; width: 23.57143em; height: 2.143em; left: 1em; top: 0.714em;
            font-family: 'MuseoSans', Arial, Helvetica, sans-serif; font-weight: 100; font-style: normal;
            background: url(../img/input__edit-icon--default.png) #e5e3e1 no-repeat 0.714em center;
            border: 1px dashed #828180; padding-left: 2.42857em; color: #72706f;
        }
            .appbar__title:focus {
                background: url(../img/input__edit-icon--focus.png) #d3dfc3 no-repeat 0.714em center;
                border: 1px dashed #568e20; color: #4e7712;
            }
            .appbar__save-title-btn {
                display: none;
            }
                .appbar__save-title-btn--focus {
                    position: absolute; display: block; font-size: 0.5625em; border: 0; padding: 0; 
                    background-color: #74ad21; width: 3.11em; height: 2.667em; top: 1.667em; left: 38.44em;
                    font-family: 'MuseoSans', Arial, Helvetica, sans-serif; font-weight: 300; color: #fff;
                    text-transform: uppercase; letter-spacing: 0.05em; border-radius: 3px; cursor: pointer;
                }
            .appbar__toggle {
                position: absolute; font-size: 1em; width: 3.375em; height: 3.375em;
                border: 0; padding: 0; cursor: pointer;
            }
                .appbar__stats {
                    background: url(../img/stats-btn.png) no-repeat left center; left: 23.9375em;
                }
                    .appbar__stats--active {
                        background: url(../img/stats-btn.png) no-repeat right center; left: 23.9375em;
                    }
                .appbar__settings {
                    background: url(../img/settings-btn.png) no-repeat left center; left: 27.5em;
                }
                    .appbar__settings--active {
                        background: url(../img/settings-btn.png) no-repeat right center; left: 27.5em;
                    }
            .appbar__dropdown {
                position: absolute; top: 3.375em; margin: 0; padding: 1em 1.625em;
                border-bottom-right-radius: 3px; border-bottom-left-radius: 3px;
                background-color: #757473; list-style: none;
            }
                /* css arrow */
                .appbar__dropdown:after {
                    position: absolute; bottom: 100%; left: 7.5%; height: 0; width: 0;
                    border: solid transparent; content: " "; pointer-events: none;
                    border-color: rgba(117, 116, 115, 0); border-bottom-color: #757473;
                    border-width: 7px; margin-left: -7px;
                }
                .appbar__dropdown-hdr {
                    font-size: 0.75em; font-weight: 300; text-transform: uppercase; color: #9ccd47; margin: 0 0 0.625em 0;
                }

                /* settings dropdown */
                .settings__menu {
                    left:27.5em;
                }
                .settings__menu--hide {
                    display: none;
                }
                    .settings__quality, .settings__privacy {
                        margin-bottom: 1.25em; 
                    }
                    .settings__quality-btn {
                        font-size: 0.875em; padding: 0.71428em 0; width: 7em;
                        background-color: #acaba9; color: #fff;
                        border-radius: 3px; border: 0;
                        font-family: 'MuseoSans', Arial, Helvetica, sans-serif; font-weight: 300;
                        cursor: pointer; margin-right: 0.42857em;
                    }
                        .settings__quality-btn:last-of-type {
                            margin-right: 0;
                        }
                        .settings__quality-btn--active {
                            background-color: #9ccd47; cursor: default;
                        }
                        .settings__hd-label {
                            position: absolute; font-size: 0.5em; top: 4.75em; right: 2.5em; padding: 0.25em 0.5em;
                            border-radius: 3px; background: #e0dfdf; font-style: italic; color: #5d5d5d;
                        }

                    .settings__desc-input {
                        font-size: 0.875em; padding: 0.5em; width: 94%; margin-bottom: 1em;
                        background-color: #7c7b7a; border: 1px dashed #bfbebc; border-radius: 3px; color: #fff;
                        font-family: 'MuseoSans', Arial, Helvetica, sans-serif; font-weight: 100; 
                    }
                        .settings__desc-input:focus {
                            border: 1px dashed #bfbebc;
                        }

                    .settings__btn {
                        font-size: 0.875em; border: 0; border-radius: 3px; text-transform: uppercase; width: 13.714em; height: 3em;
                        font-family: 'MuseoSans', Arial, Helvetica, sans-serif; font-weight: 300;
                        cursor: pointer; margin: 0 0 0.64285em 4.357em;
                    }
                        .settings__save-btn {
                            background-color: #9ccd47; color: #fff; 
                        }
                        .settings__delete-btn {
                            background-color: #f1efed; color: #74ad21;
                        }
                .appbar__button {
                    position: absolute; font-size: 0.75em; top: 0.833em; top: 10px; padding: 0.75em 0; border: 0;
                    font-family: 'MuseoSans', Arial, Helvetica, sans-serif; font-weight: 300; color: #fff;
                    text-transform: uppercase; letter-spacing: 0.05em; border-radius: 3px; cursor: pointer;
                }
                    .appbar__preview-btn {
                        right: 12.5em; width: 8.33em; background-color: #afaca9;
                    }
                    .appbar__savepub-btn {
                        right: 0.875em; width: 10.833em; background-color: #9ac352;
                    }

                /* stats dropdown */
                .stats__menu {
                   left: 23.9375em; 
                }
                .stats__menu--hide {
                    display: none;
                }
                    .stats__number {
                        color: #9ccd47;
                    }
                    .stats__total {
                        font-size: 2em; font-weight: 300; color: #fff; text-align: center; padding: 0.125em 0;
                        border-top: 1px solid #a1a09e; border-bottom: 1px solid #a1a09e; margin: 12px 0 8px;
                    }
                        .stats__stacked-text {
                            font-size: 0.375em; text-transform: uppercase; line-height: 1.25em; font-weight: 300;
                            display: inline-block; width: 5em; text-align: center;
                        }
                    .stats__substat {
                        font-size: 0.875em; font-weight: 300; color: #fff; text-align: center;
                    }
                    .stats__more-stats {
                        text-align: center; margin: 0 0 -0.5em 0;   
                    }
                        .stats__link {
                            font-size: 0.625em; text-transform: uppercase; color: #9ccd47; text-decoration: underline;
                        }
                        .stats__next-arrow {
                            margin-left: 0.25em;
                        }


    @media screen and (max-width: 762px){
        .appbar__title {
            width: 16.5em;
        }
            .appbar__save-title-btn--focus {
                left: 27.5em;
            }
        .appbar__stats {
            left: 17.8125em;
        }
        .appbar__settings {
            left: 21.375em;
        }
    }

/*  ==========================================================================
    stage styles
    ========================================================================== */
    .stage__group {
        position: absolute; top: 3.375em; bottom: 0; width: 100%;
    }
    .video__group {
        position: absolute; width: 100%; top: 0; bottom: 5.875em;
    }
        .video__stage {
            position: absolute; top: 50%; left: 50%;
        }

        .video__player {
            width: 100%;
        }
        .video__annotations {
            position: absolute; top: 0; height: 100%; width: 100%;
            margin: 0; padding: 0; list-style-type: none;
        }

/*  ==========================================================================
    annotation styles
    ========================================================================== */
    .tts__group {
        position: absolute; bottom: 0; width: 100%; text-align: center; 
    }
        .tts__arrow {
            position: absolute; font-size: 0.5em; width: 7em; height: 6.25em; bottom: 4em; cursor: pointer; padding: 0; border: 0;
        }
            .tts__next-arrow {
                left: 88%; background: url(../img/bubble-nav__next.png) no-repeat center center; border-radius: 3px;
                background-color: #f9f7f5;
            }
            .tts__prev-arrow {
                right: 88%; background: url(../img/bubble-nav__prev.png) no-repeat center center; border-radius: 3px;
                background-color: #f9f7f5;
            }

        .tts__box {
            position: absolute; font-size: 1.5em; left: 14%; width: 72%; padding: 1.25em 0; bottom: 0.41667em;
            background: url(../img/tts__edit-icon.png) rgba(14, 81, 5, 0.46) no-repeat 0.375em 0.375em; 
            border: 1px dashed rgba(99, 148, 28, 0.8); border-radius: 3px; 
        }
            /* play mode */
            .tts__text {
                color: #dff0c1; font-weight: 100; cursor: pointer;
            }

            /* edit mode */
            .tts__input {
                color: #fff; font-weight: 100; background: none; border: 0;
                font-size: 1em; font-family: 'MuseoSans', Arial, Helvetica, sans-serif; font-weight: 100; font-style: normal;
                width: 100%; text-align: center;
            }
            .tts__remaining-charas {
                position: absolute; font-size: 0.41667em; bottom: 0; left: 50%; margin-left: -6.9em;
                color: #6e9c25; text-transform: uppercase; opacity: 0.8;
            }
            .tts__listen-btn {
                position: absolute; font-size: 0.75em; right: 0.778em; top: 50%; margin-top: -1.8335em;
                height: 3.667em; width: 3.667em; border: 0; border-radius: 3px;
                background: url(../img/tts__listen-btn--default.png) #71a91a no-repeat center center; cursor: pointer; 
            }
                .tts__listen-btn--disabled {
                    opacity: 0.12;
                }
                .tts__listen-btn--loading {
                    background: rgba(113, 169, 26, 0.23); cursor: default;
                }
                    /* spinner animation */
                    .tts__listen-spinner {
                        position: absolute; right: 1.5em; top: 50%; margin-top: -0.541667em; height: 1.0833em; width: 1.0833em; 
                        background: url(../img/tts__spinner.png) no-repeat center center;
                        animation:spin 1.35s infinite linear; -webkit-animation:spin 1.35s infinite linear;
                    }
                        @keyframes spin {
                            from {transform:rotate(0deg);}
                            to {transform:rotate(360deg);}
                        }
                        @-webkit-keyframes spin {
                            from {-webkit-transform:rotate(0deg);}
                            to {-webkit-transform:rotate(360deg);}
                        }

                .tts__listen-btn--playing {
                    background: url(../img/tts__listen-btn--stop.png) #71a91a no-repeat center center;
                }
                .tts__listen-popup {
                    position: absolute; height: 1.45833em; right: 0; bottom: -2.125em;
                    background: #4e7c08; border-radius: 3px;
                }
                    .tts__listen-popup--hidden {
                        display:none;
                    }
                    .tts__listen-arrow {
                        position:absolute; height: 0.20833em; width: 0.375em; left: 3.3333em; top: -0.20833em;
                        background: url(../img/tts__listen-arrow.png) no-repeat center center; 
                    }
                    .tts__listen-timestamp {
                        position: absolute; font-size: 0.41667em; padding: 1em 1.2em; width: 2.8em;
                        background-color: #669817; color: #fff; border-radius: 3px 0 0 3px;
                    }
                    .tts__listen-soundwave {
                        display: inline-block; margin: 0.08333em 0 0 1.875em;
                    }
            .tts__save-btn {
                position: absolute; font-size: 0.625em; left: 50%; bottom: -4em; 
                margin-left: -4.1875em; padding: 0.85em 3em; border: 0; border-radius: 3px;
                font-family: 'MuseoSans', Arial, Helvetica, sans-serif; font-weight: 300; color: #fff;
                text-transform: uppercase; letter-spacing: 0.05em; cursor: pointer; background-color: #a6cb34;
            }
                .tts__save-btn--disabled {
                    opacity: 0.2;
                }
            .tts__cancel-btn {
                position: absolute; font-size: 0.75em; right: 0; top: -1em; height: 0.5em; width: 3.556em; border: 0;
                background: url(../img/tts__cancel-btn.png) no-repeat center center; cursor: pointer;
            }

    .line__loading {
        position: absolute; color: #fff; display:inline; /* div element inside form */
    }

    .line__invalid {
        background-color: red; /* this is styling to put on the form */
    }

    @media screen and (max-width: 768px) {
        .tts__box {
            padding: 0.75em 0; bottom: 0.75em;
        }
        .tts__save-btn {
            bottom: -3.5em;
        }
        .tts__listen-btn {
            right: 0.19em;
        }
    }

/*  ==========================================================================
    controls styles (overwrites styles in c6ui/src/controls)
    ========================================================================== */
    .controls__group {
        position: absolute; bottom: 0; width: 100%; height: 5.875em; z-index: 2; background-color: #f9f7f5; font-size: 1em;
    }
        /* ---- play/pause styles ---- */
        .controls__btnPlayPause {
            width: 7.625em; height: 3em; left: 50%; top: 2.375em; margin-left: -3.8125em;
            background: #9ccd47; box-shadow: none;
        }
            .controls__btnPlay-icon {
                background: url(../img/icon_play.svg) no-repeat center center; background-size: 10%; opacity: 1;
            }

            .controls__btnPause-icon {
                background: url(../img/icon_pause.svg) no-repeat center center; background-size: 14%; opacity: 1;
            }

    /* ---- seek styles ---- */
    .controls__seek {
        width: 100%; margin: 0 !important;
        background: none; border: 0; border-radius: 0;
        box-shadow: none;
    }
        .controls__slider {
            position: absolute; margin: 0 !important; top: 0.375em; left: 0.375em; right: 0.375em; height: 1.125em; cursor: pointer;
            background: #bab9b7; border: none; border-radius: 3px;
        }
        .controls__slider-active {
            height: 1.125em; background: #a8cc3a; border-radius: 3px;
        }
            .controls__slider-shadow {
                display: none;
            }
            .controls__slider-buffer {
                display: none;
            }

        .controls__playhead {
            height: 1.25em; width: 0.3125em; margin: -0.0625em 0 0 -0.1875em; 
            background: #676664; box-shadow: none; border-radius: 3px;
        }

    /* ---- volume styles ---- */
    .volume__btn {
        position: absolute; font-size: 1em; right: 8em; top: 3.5em; height: 0.8125em; width: 1em;
        background: none; border-radius: 0; box-shadow: none; 
    }

        .volume__btnVolume-icon {
            background: url(../img/volume__icon.png) no-repeat center center; background-size: auto; opacity: 1;
        }

            .volume__btnVolume-high {
                background: url(../img/volume__icon--high.png) no-repeat center center; background-size: auto; opacity: 1;
            }

            .volume__btnVolume-med {
                background: url(../img/volume__icon--high.png) no-repeat center center; background-size: auto; opacity: 1;
            }

            .volume__btnVolume-low {
                background: url(../img/volume__icon--high.png) no-repeat center center; background-size: auto; opacity: 1;
            }

            .volume__btnVolume-mute {
                display: none;
            }

    .volume__box {
        position: absolute; right: -7.25em; bottom: 0.0625em; width: 6.75em; height: 0.625em; 
        background: none; border-radius: 0; box-shadow: none;
    }
        .volume__box:after {
            display:none;
        }

        .volume__slider {
            top: 0; left: 0; height: 100%; width: 100%; 
            background: #bab9b7; border: none; border-radius: 3px;
        }
            .volume__slider-active {
                /*width: 4px;*/ height: 0.625em; bottom: 0; left: 0; background: #a8cc3a; 
                border-radius: 3px 0px 0px 3px;
            }
        .volume__playhead {
            width: 0.0625em; height: 0.625em; margin: 0; bottom: 0; left: 0;
            background: #9c9b98; box-shadow: none; border-radius: 0;
        }

    /* ---- bubbles ---- */
    .controls__scene {
        height: 0.625em; top: 0; margin: 0.25em 0 0 0;
    }
        .controls__scene-btn { /* width should be dynamic!!! */
            height: 100%; width: 50px; margin: 0; border-radius: 2px; background: #000; opacity: 0.25;
        }
        .controls__caption-bottom, .controls__caption-top {
            display: none;
        }

    /* ---- timestamps (not in original c6ui) ---- */
    .controls__timestamps {
        position: absolute; font-size: 0.625em; bottom: 5.875em; left: 0.375em; right: 0.375em; z-index: 3; height: 8px;
        background: url(../img/timeline__markers-tile.png) repeat-x top center;
    }
        .controls__start-time {
            position: absolute; color: #64821b; left: 0; line-height: 1; background-color: #f9f7f5; padding-right: 0.5em;
        }
        .controls__end-time {
            position: absolute; color: #6d6d6d; right: 0; line-height: 1; background-color: #f9f7f5; padding-left: 0.5em;
        }

/*  ==========================================================================
    alert styles
    ========================================================================== */
    .alert__group {
        position: absolute; height: 100%; width: 100%; z-index: 9001;
        background-color: rgba(0, 0, 0, 0.52); 
    }
        /* loading and saving notifications */
        .alert__box {
            margin: 0 auto; height: 7.25em; width: 7.25em; border-radius: 3px; text-align: center;
            background-color: rgba(153, 204, 73, 0.7); 
        }
            .alert__text {
                font-size: 0.875em; color: #fff; text-transform: uppercase;
            }
            .alert__img {
                margin: 22px 34px 0 34px;
            }
            .alert__spinner {
                animation:spin 1.45s infinite linear; -webkit-animation:spin 1.45s infinite linear;
            }

        /* warning modals */
        .warning__box {
            position: absolute; background-color: #f9f7f5; border-radius: 3px; 
            padding: 1.429em 0; left: 50%;
        }
            .warning__box--discard {
                margin-left: -10em; width: 20em; text-align: center; 
            }
            .warning__box--watch-again {
                margin-left: -7.8125em; width: 15.625em; text-align: center; 
            }
            .warning__box--embed {
                margin-left: -11.6875em; width: 20.875em; padding: 1.429em 1.25em; 
                border-radius: 3px 3px 0 0; top: 50%; margin-top: -17.25em;
            }
            .warning__img {
                margin: 0 2em 0.75em 2em;
            }
            .warning__text {
                color: #797776; margin: 0.375em 0;
            }
                .warning__title {
                    margin: 0; color: #797776; font-size: 1.25em; font-weight: 300;
                }
                .warning__subtext {
                    margin: 0; color: #a29f9e; font-size: 0.875em; font-weight: 100;
                }
                .warning__caps {
                    text-transform: uppercase;
                }
            .warning__btn {
                font-size: 0.875em; width: 19.714em; height: 2.857em; margin: 0.429em 0 0 0;
                font-family: 'MuseoSans', Arial, Helvetica, sans-serif; font-weight: 300; color: #fff;
                border: 0; border-radius: 3px; padding: 0; cursor: pointer;
            }   
                .warning__btn--small {
                    width: 15.256em;
                }
                .warning__btn--lrg {
                    width: 100%;
                }
                .warning__btn--confirm {
                    background-color: #9ccd47;
                }
                .warning__btn--cancel {
                    background-color: #afaca9;
                }

            .video-size__group {
                position: relative; width: 100%; margin: 0.875em auto 0.5em auto;
                background-color: #f1efed; border: 1px solid #afaca9; border-radius: 3px;
            }
                .video-size__hdr {
                    width: 100%; height: 1.5em; background-color: #afaca9;
                }
                    .video-size__label {
                        position: absolute; color: #595452; font-weight: 100; font-size: 0.75em;
                        top: 0.33em; left: 0.58em;
                    }
                    .video-size__dropdown {
                        position:absolute; font-size: 0.75em; top: -1px; right: -1px; margin: 0; padding: 0;
                        width: 78%; font-weight: 100; list-style: none; color: #676260; 
                        border: #afaca9 solid 1px; border-radius: 0 3px 3px 3px;
                    }
                        .video-size__option {
                            padding-left: 1em; background: #fff; cursor: pointer;
                        }
                        .video-size__option--selected {
                            background: #99cc49; color: #fff;
                        }
                        .video-size__option--current {
                            background: #dad8d5; height: 1.667em; padding-top: 0.25em;
                        }
                        .video-size__arrow {
                            position: absolute; top: 0.833em; right: 1em;
                        }
                        .video-size__hide {
                            display: none;
                        }

                .video-size__code {
                    font-family: 'MuseoSans', Arial, Helvetica, sans-serif; font-weight: 100;
                    color:#797776; font-size: 0.75em; border: 0; background: none; width: 93%;
                    padding: 0.5em 1em; height: 3.5em; resize: none;
                }

            .warning__divider {
                margin-top: 1.25em; border: #cdcac7 solid 1px;
            }

            .social__btn {
                font-size: 1em; height: 2.75em; width: 2.75em; border: 0; border-radius: 3px; 
                margin: 0.875em 0.375em 0 0; padding: 0; cursor: pointer;
            }
                .social__btn--facebook {
                    background: url(../img/social__btn--facebook.png) #3c599f no-repeat center center;
                }
                .social__btn--twitter {
                    background: url(../img/social__btn--twitter.png) #5eaade no-repeat center center;
                }
                .social__btn--tumblr {
                    background: url(../img/social__btn--tumblr.png) #3e5a70 no-repeat center center;
                }
                .social__btn--youtube {
                    background: url(../img/social__btn--youtube.png) #fefefe no-repeat center center;
                }
                .social__btn--vimeo {
                    background: url(../img/social__btn--vimeo.png) #1bb6ec no-repeat center center;
                }

            .warning__footer {
                position: absolute; bottom: -4.45em; right: 0;
                background-color: #efecea; border-radius: 0 0 3px 3px; padding: 0.5em 5em 1.125em 5em;
            }