/*  ==========================================================================
    experience styles
    ========================================================================== */
    body {
        margin:0; background-color: #000; font-family: 'MuseoSans', Arial, Helvetica, sans-serif;
    }
    a {
        text-decoration: none;
    }
    .experience__group {
        position: absolute; top: 0; bottom: 0; left: 0; right: 0;
    }
    .ir {
        background-color: transparent;
        border: 0; width:0; height:0;
        overflow: hidden; display: block; position: absolute;
    }

    @font-face {
        font-family: 'MuseoSans';
        src: url('museosans-300-webfont.eot');
        src: url('museosans-300-webfont.eot?#iefix') format('embedded-opentype'),
             url('museosans-300-webfont.woff') format('woff'),
             url('museosans-300-webfont.svg#museo_sans300') format('svg'),
             url('museosans-300-webfont.ttf') format('truetype');
        font-weight: 300;
        font-style: normal;
    }

     @font-face {
        font-family: 'MuseoSans';
        src: url('museosans-100-webfont.eot');
        src: url('museosans-100-webfont.eot?#iefix') format('embedded-opentype'),
             url('museosans-100-webfont.woff') format('woff'),
             url('museosans-100-webfont.svg#museo_sans100') format('svg'),
             url('museosans-100-webfont.ttf') format('truetype');
        font-weight: 100;
        font-style: normal;
    }

     @font-face {
        font-family: 'MuseoSans';
        src: url('museosans-100italic-webfont.eot');
        src: url('museosans-100italic-webfont.eot?#iefix') format('embedded-opentype'),
             url('museosans-100italic-webfont.woff') format('woff'),
             url('museosans-100italic-webfont.svg#museo_sans100_italic') format('svg'),
             url('museosans-100italic-webfont.ttf') format('truetype');
        font-weight: 100;
        font-style: italic;
    }

/*  ==========================================================================
    app bar styles
    ========================================================================== */
    .appbar__group {
        position: absolute; top: 0; width: 100%; height: 3.375em; z-index: 2; background-color: #f1efed;
    }
        .appbar__title {
            position: absolute; font-size: 0.875em; width: 23.57143em; height: 2.143em; left: 1em; top: 0.714em;
            font-family: 'MuseoSans', Arial, Helvetica, sans-serif; font-weight: 100; font-style: normal;
            background: url(../img/input__edit-icon--default.png) #e5e3e1 no-repeat 0.714em center;
            border: 1px dashed #828180; padding-left: 2.42857em; color: #72706f;
        }
            .appbar__title:focus {
                background: url(../img/input__edit-icon--focus.png) #d3dfc3 no-repeat 0.714em center;
                border: 1px dashed #568e20; color: #4e7712;
            }
            .appbar__save-title-btn {
                display: none;
            }
                .appbar__save-title-btn--focus {
                    position: absolute; font-size: 0.5625em; border: 0; padding: 0; 
                    background-color: #74ad21; width: 3.11em; height: 2.667em; top: 1.667em; left: 38.44em;
                    font-family: 'MuseoSans', Arial, Helvetica, sans-serif; font-weight: 300; color: #fff;
                    text-transform: uppercase; letter-spacing: 0.05em; border-radius: 3px; cursor: pointer;
                }
            .appbar__toggle {
                position: absolute; font-size: 1em; width: 3.375em; height: 3.375em;
                border: 0; padding: 0; cursor: pointer;
            }
                .appbar__stats {
                    background: url(../img/stats-btn.png) no-repeat left center; left: 23.9375em;
                }
                .appbar__settings {
                    background: url(../img/settings-btn.png) no-repeat left center; left: 27.5em;
                }
                .appbar__stats--active {
                    background: url(../img/stats-btn.png) no-repeat right center; left: 23.9375em;
                }
                .appbar__settings--active {
                    background: url(../img/settings-btn.png) no-repeat right center; left: 27.5em;
                }
            .appbar__button {
                position: absolute; font-size: 0.75em; top: 0.833em; top: 10px; padding: 0.75em 0; border: 0;
                font-family: 'MuseoSans', Arial, Helvetica, sans-serif; font-weight: 300; color: #fff;
                text-transform: uppercase; letter-spacing: 0.05em; border-radius: 3px; cursor: pointer;
            }
                .appbar__preview-btn {
                    right: 12.5em; width: 8.33em; background-color: #afaca9;
                }
                .appbar__savepub-btn {
                    right: 0.875em; width: 10.833em; background-color: #9ac352;
                }

/*  ==========================================================================
    stage styles
    ========================================================================== */
    .stage__group {
        position: absolute; top: 3.375em; bottom: 0; width: 100%;
    }
    .video__group {
        position: absolute; width: 1280px; height: 548px;
    }
        .stage__video {
            position: absolute; width: 100%;
        }

/*  ==========================================================================
    annotation styles
    ========================================================================== */
    .video__annotations {
        position: absolute; width: 100%; height: 100%; 
        margin: 0; padding: 0; list-style-type: none;
    }

    .tts__group {
        position: absolute; bottom: 0; width: 100%; text-align: center; 
    }
        .tts__arrow {
            position: absolute; font-size: 0.5em; width: 7em; height: 6.25em; bottom: 4em; cursor: pointer; padding: 0; border: 0;
        }
            .tts__next-arrow {
                right: 7%; background: url(../img/bubble-nav__next.png) no-repeat center center;
            }
            .tts__prev-arrow {
                left: 7%; background: url(../img/bubble-nav__prev.png) no-repeat center center
            }

        .tts__box {
            position: absolute; font-size: 1.5em; left: 14%; width: 72%; padding: 1.25em 0; bottom: 0.41667em;
            background: url(../img/tts__edit-icon.png) rgba(14, 81, 5, 0.46) no-repeat 0.375em 0.375em; 
            border: 1px dashed rgba(99, 148, 28, 0.8); border-radius: 3px; 
        }
            /* play mode */
            .tts__text {
                color: #dff0c1; font-weight: 100; cursor: pointer;
            }

            /* edit mode */
            .tts__input {
                color: #fff; font-weight: 100; background: none; border: 0;
                font-size: 1em; font-family: 'MuseoSans', Arial, Helvetica, sans-serif; font-weight: 100; font-style: normal;
                width: 100%; text-align: center;
            }
            .tts__remaining-charas {
                position: absolute; font-size: 0.41667em; bottom: 0; left: 50%; margin-left: -6.9em;
                color: #6e9c25; text-transform: uppercase; opacity: 0.8;
            }
            .tts__listen-btn {
                position: absolute; font-size: 0.75em; right: 0.778em; top: 50%; margin-top: -1.8335em;
                height: 3.667em; width: 3.667em; border: 0; border-radius: 3px;
                background: url(../img/tts__listen-btn--default.png) #71a91a no-repeat center center; cursor: pointer; 
            }
                .tts__listen-btn--disabled {
                    opacity: 0.12;
                }
                .tts__listen-btn--playing {
                    background: url(../img/tts__listen-btn--stop.png) #71a91a no-repeat center center;
                }
            .tts__save-btn {
                position: absolute; font-size: 0.625em; left: 50%; bottom: -4em; 
                margin-left: -4.1875em; padding: 0.85em 3em; border: 0; border-radius: 3px;
                font-family: 'MuseoSans', Arial, Helvetica, sans-serif; font-weight: 300; color: #fff;
                text-transform: uppercase; letter-spacing: 0.05em; cursor: pointer; background-color: #a6cb34;
            }
                .tts__save-btn--disabled {
                    opacity: 0.2;
                }
            .tts__cancel-btn {
                position: absolute; font-size: 0.75em; right: 0; top: -1em; height: 0.5em; width: 3.556em; border: 0;
                background: url(../img/tts__cancel-btn.png) no-repeat center center; cursor: pointer;
            }

    .line__loading {
        display:inline; /* div element inside form */
    }

    .line__invalid {
        background-color: red; /* this is styling to put on the form */
    }

/*  ==========================================================================
    controls styles (overwrites styles in c6ui/src/controls)
    ========================================================================== */
    .controls__group {
        position: absolute; bottom: 0; width: 100%; height: 5.875em; z-index: 2; background-color: #f9f7f5; font-size: 1em;
    }
        /* ---- play/pause styles ---- */
        .controls__btnPlayPause {
            width: 7.625em; height: 3em; left: 50%; top: 2.375em; margin-left: -3.8125em;
            background: #9ccd47; box-shadow: none;
        }
            .controls__btnPlay-icon {
                background: url(../img/icon_play.svg) no-repeat center center; background-size: 10%; opacity: 1;
            }

            .controls__btnPause-icon {
                background: url(../img/icon_pause.svg) no-repeat center center; background-size: 14%; opacity: 1;
            }

    /* ---- seek styles ---- */
        .controls__seek {
            width: 100%; margin: 0 !important;
            background: none; border: 0; border-radius: 0;
            box-shadow: none;
        }
            .controls__slider {
                position: absolute; margin: 0 !important; top: 0.375em; left: 0.375em; right: 0.375em; height: 1.125em; cursor: pointer;
                background: #bab9b7; border: none; border-radius: 3px;
            }
            .controls__slider-active {
                height: 1.125em; background: #a8cc3a; border-radius: 3px;
            }
                .controls__slider-shadow {
                    display: none;
                }
                .controls__slider-buffer {
                    display: none;
                }

            .controls__playhead {
                height: 1.25em; width: 0.3125em; margin: -0.0625em 0 0 -0.1875em; 
                background: #676664; box-shadow: none; border-radius: 3px;
            }

    /* ---- volume styles ---- */
        .volume__btn {
            position: absolute; right: 22px; top: 0; height: 100%; width: 58px;
            background: #1c1d1f; border-radius: 3px; box-shadow: none; display: none;
        }

            .volume__btnVolume-icon {
                background: url(../img/icon_volume.svg) no-repeat center center; background-size: 36%;
                display: block; height: 100%; width: 100%; opacity: 0.3; border: 0; cursor: pointer; padding: 0; position: absolute; top: 0;
            }

                .volume__btnVolume-high {
                    background: url(../img/icon_volume-high.svg) no-repeat center center; background-size: 36%;
                    height: 100%; width: 100%; cursor: pointer; position: absolute; top: 0;
                }

                .volume__btnVolume-med {
                    background: url(../img/icon_volume-med.svg) no-repeat center center; background-size: 36%;
                    height: 100%; width: 100%; cursor: pointer; position: absolute; top: 0;
                }

                .volume__btnVolume-low {
                    background: url(../img/icon_volume-low.svg) no-repeat center center; background-size: 36%;
                    height: 100%; width: 100%; cursor: pointer; position: absolute; top: 0;
                }

                .volume__btnVolume-mute {
                    background: url(../img/icon_volume-mute.svg) no-repeat center center; background-size: 36%;
                    height: 100%; width: 100%; cursor: pointer; position: absolute; top: 0;
                }

        .volume__box {
            position: absolute; right: 20%; bottom: 150%;
            width: 60%; height: 94px; 
            background: #1c1d1f; border-radius: 3px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
        }
            .volume__box:after {
                top: 100%; position: absolute;
                border: solid transparent; content: " "; 
                border-color: rgba(28, 29, 31, 0); border-top-color: #1c1d1f;
                border-width: 10px; left: 50%; margin-left: -10px; 
            }

            .volume__slider {
                position: relative; top: 6%; left:7px;
                width: 4px; height: 66px; cursor: pointer;
                background: #131415; border: #1c1d1f solid 8px;
            }
                .volume__slider-active {
                    position: absolute; width: 4px; bottom: 0; background: #1c529c; z-index: 2;
                }
            .volume__playhead {
                height: 12px; width: 12px; position: absolute; margin: 0 0 -6px -4px; bottom: 50%;
                background: #a4a4a4; box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2); border-radius: 6px; cursor: pointer; z-index: 10;
            }

    /* ---- bubbles ---- */
        .controls__scene {
            height: 0.625em; top: 0; margin: 0.25em 0 0 0;
        }

            .controls__scene-btn { /* width should be dynamic!!! */
                height: 100%; width: 50px; margin: 0; border-radius: 2px; background: #000; opacity: 0.25;
            }

            .controls__caption-bottom {
                display: none;
            }

            .controls__caption-top {
                display: none;
            }

    /* ---- timestamps (not in original c6ui) ---- */
        .controls__timestamps {
            position: absolute; font-size: 0.625em; bottom: 5.875em; left: 0.375em; right: 0.375em; z-index: 3; height: 8px;
            background: url(../img/timeline__markers-tile.png) repeat-x top center;
        }
            .controls__start-time {
                position: absolute; color: #64821b; left: 0; line-height: 1; background-color: #f9f7f5; padding-right: 0.5em;
            }
            .controls__end-time {
                position: absolute; color: #6d6d6d; right: 0; line-height: 1; background-color: #f9f7f5; padding-left: 0.5em;
            }