/*  ==========================================================================
    app bar styles
    ========================================================================== */
    .appbar__preview-btn, .appbar__savepub-btn, .appbar__save-title-btn--focus {
        transition: background 0.1s;
    }
        .appbar__preview-btn:hover {
            background-color: #c5c2be; 
        }
        .appbar__savepub-btn:hover {
            background-color: #b2d96d;
        }



/*  ==========================================================================
    annotation styles
    ========================================================================== */
    .tts__save, .tts__cancel, .tts__preview-btn {
        transition: background-color 0.1s;
    }
        .tts__save:hover {
            background-color: #a1d92b;
        }
            .tts__save--disabled:hover, .tts__save--success:hover {
                background-color: #4e8711; cursor: default;
            }
        .tts__cancel:hover {
            background-color: #c5c2be;
        }
        .tts__preview-btn:hover {
            background-color: #69b516;
        }
        .tts__preview-btn--loading:hover {
            background-color: rgba(113, 169, 26, 0.23); 
        }

/*  ==========================================================================
    controls styles
    ========================================================================== */

    /* ---- play/pause styles ---- */
    .controls__btnPlayPause {
        transition: background 0.1s;
    }
        .controls__btnPlayPause:hover {
            background: #a1d92b;
        }

    /* ---- seek styles ---- */
    .controls__btnReturn-icon:hover, .controls__btnFullscreen-icon:hover {
        opacity: 1;
    }

    /* ---- volume styles ---- */
    .volume__btn:hover {
        background: none;
    }
        .volume__btnVolume-icon:hover {
            opacity: 1;
        }

