<section class="experience__group" id="experience">
    <section ng-if="ExperienceCtrl.showWelcome" ng-include="'assets/views/partials/welcome.html'"></section>
    <section ng-if="ExperienceCtrl.showWizard" ng-controller="WizardController" ng-include="'assets/views/partials/wizard.html'"></section>
    <nav class="sidebar__group">
        <ul>
            <li ng-repeat="annotation in ExperienceCtrl.annotations()">
                <a href="" ng-click="ExperienceCtrl.jumpTo(annotation)">{{annotation.text}}</a>
            </li>
        </ul>
    </nav>
    <div class="video__group" c6-vertical-center="top" resize ng-controller="VideoController">
        <!-- The video will move to this plane as soon as the experience is started -->
        <div class="video__player--active" c6-plane="video" priority="0"></div>
        <div class="controls__container">
            <c6-controls controller="VideoCtrl.controlsController" delegate="VideoCtrl.controlsDelegate"></c6-controls>
        </div>
        <ul class="video__annotations">
            <li ng-repeat="annotation in ExperienceCtrl.bubbles()">
                <c6-bubble annotation="annotation" show="VideoCtrl.annotationIsActive(annotation)"></c6-bubble>
            </li>
        </ul>
    </div>
</section>
